<div class="border border-dark p-4" style=" margin-left:4rem">
    <h1> Add Memory</h1>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" @bind-value="Album.Name"   id="Name" placeholder="Album Name">
    </div>
    <div class="form-group">
        <label for="Name">Description</label>
        <input type="text" class="form-control" @bind-value="Album.Description"  id="Description" placeholder="Album Description">
    </div>
    <div class="form-group">
        <label for="Name">Created</label>
        <input type="date" class="form-control" @bind-value="Album.Created"  id="Created" placeholder="Album Date">
    </div>
    <div class="form-group">
        <label for="Name">Location</label>
        <input type="text" class="form-control" @bind-value="Album.Location"  id="Location" placeholder="Album Location">
    </div>
    <button @onclick="AddNewAlbum"  class="mt-4 btn btn-primary">Submit</button>

</div>


@code {
    [Parameter]
    public Memory Album {get;set;}=new Memory();
    [Parameter]
    public EventCallback<Memory> OnAddAlbum {get;set;}
    public async Task AddNewAlbum(){
        await OnAddAlbum.InvokeAsync(Album);
    }    

}
